.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  
}


.center{
  width: 75%;
  margin: 0px auto;
}

.clearfix{
  clear: both;
  float: none;
}

.btn-white{
  display: block;
  background: white;
  color:#888888;
  padding: 10px;
  width: 95px;
  margin: 0px auto;
  font-size: 18px;
  text-transform:uppercase;
  text-shadow: none;
  text-decoration: none;
  box-shadow: 0px 0px 5px #888888;
  margin-top: 40px;
  border-radius: 4px;
}

.btn-white:hover{
  background: #444;
  color: white;
  transition: 300ms;
}


#content{
  width: 70%;
  float: left;
  min-height: 650px;
  margin-right: 20px;
}

.btn{
  display: block;
  background: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  max-width: 120px;
  transition: 300ms;
  border: none;
  cursor: pointer;
  text-align: center;
}

.buttons{
  margin-top:30px;
}
input[type="text"],
input[type="select"],
textarea{
  width: 100%;
  min-height: 30px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 5px;
  transition: 300ms all;
}

input[type="text"]:focus,
textarea:focus{
  box-shadow: 0px 0px 5px #eee inset;
}

select:focus{ outline: none;}
.left{
  float: left;
}
.mid-form{
  width: 50%;
  margin: 0px auto;
}

.mid-form label{
  display: block;
  float: left;
  text-align: left;
  margin-bottom: 5px;
  font-size: 17px;
  margin-top: 10px;

}
.mid-form select{
  display: block;
  float: left;
  text-align: left;
  margin-bottom: 5px;
  font-size: 17px;
  margin-top: 10px;
}
.mid-form p{
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 17px;
}
.mid-form input[type="text"]{
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 17px;
}

textarea{
  width: 100%;
  height: 150px;
  max-width: 100%;
  max-height: 300px;
  min-height: 150px;
  min-width: 100%;
}

select{
  width: 100%;
  height: 30px;
  border: solid 1px #ccc;
}

li{
  list-style: none;
}

.Menu{
  display:inline;
  padding-left:3px;
  padding-right:3px;
}
.BordeMenu{
  background-color: white;
  padding-right: 2em;
}

a{
  text-decoration: none;
  color: black;
}
.withe{
  color: white;
}